::placeholder{
    color: white;
    opacity: 1;
}
main{
    width: 75%;
    margin:0 auto;
}

.hr{
    height: 10px;
    background-color: black;
}

textarea{
    border: 0;
    resize: none;
    height: 30px;
    width: 100%;
    background-color: inherit;
    color: black;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#dee2e6;
    height: 1px;
    margin: 0;
  }

